body {
  font-family: 'Roboto', sans-serif;
  background: url(../img/background.png) no-repeat center / 100vh fixed;
  background-size: cover;
  width: 1030px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 17px;
}

.d_flex {
  display: flex;
  align-items: center;
  text-align: center;
}
.logo_text {
  font-weight: 700;
  font-size: 29px;
  line-height: 25px;
  color: #ffffff;
  margin-left: 8px;
}

.logo_text span {
  font-size: 18px;
  line-height: 18px;
}
.header_inf {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 19px;
}
.header_tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.header_about {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.logo_active {
  display: none;
}
.logotype:hover .logo_active {
  display: block;
}
.logotype:hover .logo_orig {
  display: none;
}
.logotype:hover h2 {
  margin-left: 10px;
  color: rgba(242, 101, 34, 1);
}
.header_inf:hover {
  color: rgba(242, 101, 34, 1);
}
.header_tel:hover {
  color: rgba(242, 101, 34, 1);
}
.grid_items {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 54px;
}

.d_flex_column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name_cards {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_text {
  margin-top: 11px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.badge_product {
  position: relative;
}
.img_size {
  width: 295px;
  height: 220px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
}

.small_text {
  padding-top: 7px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.badge_price {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.badge_about {
  padding-left: 16px;
}
.badge_next {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.badge_next::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 4px;
  right: -8px;
  transform: rotate(45deg);
}
.badge_view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}
.badge_items {
  padding-left: 16px;
}
.bedge {
  position: absolute;
  width: 140px;
  background: #f26522;
  color: #ffffff;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

.grid_item_one:hover .name_cards {
  color: #f26522;
}
.grid_item_one:hover .bedge {
  opacity: 1;
  transition: 0.9s;
  width: 100%;
}
